*{
    padding: 0;
    margin: 0;
}
:root{
    --admin-panel-background:#e7f1f3;
    --col-bg:#f3f3f3;
}

.button{
    background-color: black;
    width: 100%;
}
.bg{
    background-color: #939393;
    height: 700px;
}
#btn{
    background-color:  #56cfe1;;
}
.ul:hover{
    text-decoration: underline;
}
.im:hover{
  /* opacity: 0.7; */
    background-image: url(images/ahead_icon_1.png);
    filter: blur(2px);
}
.ct:hover{
    color: #56cfe1;
}
.im{
 filter: saturate(1.5);  
 filter: drop-shadow(4px 4px 10px gray);
}

/* cards */
.cards{
    background-color: #e7f1f3;

}
.fb{
    background-color: #f3f3f3;
}
/* buttons */
#bt1:hover{
background-color: transparent;
color: #56cfe1;
}
#bt2:hover{
background-color: #56cfe1;
color: white;
}

/* anchors */
#a{
    color: black;
}
#a:hover{
color: #56cfe1;
}
.admin-panel{
background-color: var(--admin-panel-background);
}
.col-bg{
    background-color: var(--col-bg);
}