*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --admin-panel-background:#e7f1f3;
    --col-bg:#f3f3f3;
}

.button{
    background-color: black;
    width: 100%;
}
.bg{
    /* background-color: #939393; */
    background-image: url(images/maxresdefault.jpg);
  
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.ani-card {
   
    

    /* transition: 3s;
    transition-iteration-count: infinite;
    transition-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* transition-delay: 0.5s; */
    /* transition: width 2s, height 2s, transform 2s; */
    animation: rotate 5s linear infinite;
   
}
.ani-card:hover{
    /* transform: matrix(1.2,0.5, 0.5,1, 0 , 0 ); */
   
    /* transform: rotate(180deg); */
    /* transform: rotatex(180deg);
    transform: rotatey(150deg);
     */
}
.parallax{
    background-image: url(images/maxresdefault.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    

#btn{
    background-color:  #56cfe1;;
}
.ul:hover{
    text-decoration: underline;
}

.ct:hover{
    color: #56cfe1;
}
.im{
 filter: saturate(1.5);  
 filter: drop-shadow(4px 4px 10px gray);
 transition: transform 0.3s ease;
}
.im:hover{
    transform: scale(1.1);
}

/* cards */
.cards{
   
   
    background-color: #f3f3f3;
   
}

/* buttons */
#bt1:hover{
background-color: transparent;
color: #56cfe1;
}
#bt2:hover{
background-color: #56cfe1;
color: white;
}

/* anchors */
#a{
    color: black;
}
#a:hover{
color: #56cfe1;
}
.admin-panel{
background-color: var(--admin-panel-background);
}
.col-bg{
    background-color: var(--col-bg);
}
.optamizer{
    background-color: var(--admin-panel-background);
}
.option-for-shops{
    background-color: #f3f3f3;
}
.bt{
    background-color: #56cfe1;
   
}
footer{
    background-color: #f3f3f3;
}
@keyframes heading{
from{transform: translatey(0px);}
to{transform: translatey(800px);}
}
.rotate-img {
    
    /* Define the animation */
    animation: rotateAnimation 5s linear infinite;
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotatey(0deg);
    }
    100% {
      transform: rotatey(360deg);
    }
  }
